@use 'base/variables' as v;
@use 'base/mixins' as m;

.navegacion{
    display:flex;
    flex-direction: column;
    @include m.desktop{
        flex-direction: row;
    }

    &__enlace{
        color: v.$blanco;
        font-size: 1.8rem;
        padding: 1rem;
        text-align: center;
        text-transform: uppercase;
        font-weight: v.$black;

        &:hover,
        &--actual{
            background-color: v.$blanco;
            color: v.$azul;
            
        }
    }
}